.btn-nb-primary{
  background-color: $nb-red;
  border-radius: 2px;
  //border-color: $nb-red;
  color: $white;
  &:hover{
    background-color: $nb-red-600;
  }
  &::active{
    background-color: $nb-red-600;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.btn-nb-gray-500{
  border-radius: 2px;
  background-color: $gray-400;
  margin: 4px;
  width: 200px;
  //border-color: gray-500;
  color: $white;
  &:hover{
    background-color: $gray-500;
    transition: 300ms;
  }
  &::active{
    background-color: $gray-500;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.btn-nb-gold{
  border-radius: 2px;
  margin: 4px;
  width: 200px;
  //border-color: gray-500;
  color: $white;
  background-color: $nb-loyalty;
  border-color: $nb-loyalty;
  &:hover{
    color: $white;
    background-color: $nb-loyalty-600;
    border-color: $nb-loyalty-600;
    transition: 300ms;
  }
  &::active{
    color: $white;
    background-color: $nb-loyalty-600;
    border-color: $nb-loyalty-600;
    transition: 300ms;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.btn-nb-red-cart{
  border-radius: 2px;
  margin: 4px;
  width: 200px;
  //border-color: gray-500;
  color: $white;
  background-color: $nb-red;
  border-color: $nb-red;
  &:hover{
    color: $white;
    background-color: $nb-red-600;
    border-color: $nb-red-600;
    transition: 300ms;
  }
  &::active{
    color: $white;
    background-color: $nb-red-600;
    border-color: $nb-red-600;
    transition: 300ms;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}
.btn-nb-red {
  color: $white;
  background-color: $nb-red;
  border-color: $nb-red;
}
.btn-nb-secondary {
  color: $white;
  background-color: $gray-500;
  border-color: $gray-500;
  &:hover{
    background-color: $gray-600;
    border-color: $gray-600;
    transition: 300ms;
    color: $white;
    text-decoration: none;
  }
  &:active{
    background-color: $gray-600;
    border-color: $gray-600;
    transition: 300ms;
    color: $white;
    text-decoration: none;
  }
}
.btn-nb-info{
  color: $white;
  background-color: $nb-loyalty;
  border-color: $nb-loyalty;
  &:hover, &:active{
    background-color: $nb-loyalty-600;
    border-color: $nb-loyalty-600;
    transition: 300ms;
  }
  a{
    color: $white;
    text-decoration: none;
  }
}
.btn-add-cart{
  color: $white;
  background-color: $nb-red;
  border-color: $nb-red;
  &:hover, &:active{
    color: $white;
    background-color: $nb-red-600;
    border-color: $nb-red-600;
    transition: 300ms;
  }
}
//https://medium.com/@littleDog/%E7%94%A8-webkit-overflow-scrolling-touch-%E8%AE%93%E4%BD%A0%E7%9A%84mobile-web-application%E6%94%AF%E6%8F%B4momentum-based-scrolling-1efacea28611
.shop-sub-menu-box{
  margin-bottom: 20px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  //touch-action: pan-y;
  user-select: none;
  white-space: nowrap;
  //overflow: hidden;
  //hide scrollbar
  -ms-overflow-style: none;//IE 10+ 
  overflow: -moz-scrollbars-none; //Firefox
  .nav-link.active {
    color: #fff;
    background-color: $nb-red-600 !important;
  }
}
//overflow: hidden;
//chrome Safari
.shop-sub-menu-box::-webkit-scrollbar { width: 0 !important }
.btn-shop-sub-menu{
  color: $white;
  background-color: $gray-600;
  border-color: $gray-600;
  &:hover, &:active{
    color: $white;
    background-color: $gray-600;
    border-color: $gray-600;
    transition: 300ms;
  }
}