// Navigation Variables
$content-width: 1080px;
$breakpoint: 799px;
$nav-height: 70px;
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
//dropdown-submenu


.nb-logo{
  width: 200px;
}
.nb-logo-box{
  position: absolute;
  left: 16px;
  top: 4px;
}
.header-all{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: $white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  nav{
    background-color: $white;
  }
}
.right-menu{
  list-style: none;
  padding-left: 300px;
  position: absolute !important;
  right: 0;
  @media screen and (max-width: $breakpoint) {
    position: relative !important;
    padding-left: 0px;
  }
  a{
    text-decoration: none;
  }
}
//cart style
.cart-header{
  position: fixed; 
  top:150px;
  right: 20px; 
  z-index: 999999;
  @media screen and (max-width: 1440px) {
    top:70px;
  }
  @media screen and (max-width: 1025px) {
    top:150px;
  }
  @media screen and (max-width: 799px) {
    top:70px;
  }
}