.nb-card-header{
  padding: .25rem 1rem;
  background-color: rgba(0, 0, 0, 0);
}
.btn.focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.card {
  border-radius: .1rem;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $nb-red;
  background-color: #fff;
  border: 1px solid #dee2e6;
  &:hover{
    color: $nb-red-600;
  }
}