.nb-card-header {
  padding: .25rem 1rem;
  background-color: rgba(0, 0, 0, 0);
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.card {
  border-radius: .1rem;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $nb-red;
  background-color: #fff;
  border: 1px solid #dee2e6;

  &:hover {
    color: $nb-red-600;
  }
}

.shop-card-box {
  position: relative;

  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .card {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  a {
    color: $gray-800;

    &:hover {
      text-decoration: none;
      color: $black;
      transition: 0.3s;
    }
  }

  .btn {
    color: $white;

    &:hover {
      color: $white;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  .img-box {
    overflow: hidden;
  }

  img {
    overflow: hidden;

    &:hover {
      transform: scale(1.5);
      transition: 300ms;
    }
  }
}

//
.cart-name {
  max-width: 120px;
  max-height: 20px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extra-img {
  // max-width: 250px;
  // min-width: 250px;
  // max-height: 150px;
  // min-height: 150px;
  max-height: 100px;
  img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

//
.fixtures-box-img {
  height: 100px;
  object-fit: cover;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  img {
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
      transition: 300ms;
    }
  }
}
.fixtures-group-color{
  background-color: $gray-100;
}
.img-child{
  height: 60px;
  img {
    max-width: 120px;
    min-width: 120px;
    max-height: 60px;
    min-height: 60px;
  }
}
.table td, .table th {
  padding: 0.5rem !important;
  vertical-align: top;
  border-top: 1px solid 
  #dee2e6;
}