//text
.text-bold{
  font-weight: 500 !important;
}
//Roboto:100>thin,300>light,400>regilar,500>medium
//font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');
//Yeseva One
//font-family: 'Yeseva One', cursive;
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
//
//typography
$font: 16px 18px 20px 24px 30px 40px 48px;

@mixin font($index:1) {
  font-size: nth($font, $index);
  // line-height: line-height($index);
}

@function line-height($index:1) {
  $font-size: nth($font, $index);
  @return (floor($font-size/ 10px) +1) *10px;
}

$leading: 21px 27px 30px 36px 48px 60px 84px;

@mixin leading($index:1) {
  line-height: nth($leading, $index);
}
//example
// .text-fontTitle+Size-weight-leading {
//   color: $dark-grey-800;
//   @include font(1);
//   @include leading(1);
//   font-family: "Raleway", sans-serif;
// }
//100>thin
.text-r-1-1-1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include font(1);
  @include leading(1);
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}
.text-r-2-1-2{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include font(2);
  @include leading(2);
}
.text-r-3-1-3{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include font(3);
  @include leading(3);
}
.text-r-4-1-4{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include font(4);
  @include leading(4);
}
.text-r-5-1-5{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include font(5);
  @include leading(5);
}
.text-r-6-1-6{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include font(6);
  @include leading(6);
}
.text-r-7-1-7{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  @include font(7);
  @include leading(7);
}
//300>light
.text-r-1-3-1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @include font(1);
  @include leading(1);
  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}
.text-r-2-3-2{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @include font(2);
  @include leading(2);
}
.text-r-3-3-3{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @include font(3);
  @include leading(3);
}
.text-r-4-3-4{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @include font(4);
  @include leading(4);
}
.text-r-5-3-5{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @include font(5);
  @include leading(5);
}
.text-r-6-3-6{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @include font(6);
  @include leading(6);
}
.text-r-7-3-7{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  @include font(7);
  @include leading(7);
}
//400>regilar
.text-r-1-4-1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include font(1);
  @include leading(1);
  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}
.text-r-2-4-2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include font(2);
  @include leading(2);
}
.text-r-3-4-3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include font(3);
  @include leading(3);
}
.text-r-4-4-4{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include font(4);
  @include leading(4);
}
.text-r-5-4-5{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include font(5);
  @include leading(5);
  @media screen and (max-width: 500px) {
    font-size: 24px;
  }
}
.text-r-6-4-6{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include font(6);
  @include leading(6);
  @media screen and (max-width: 500px) {
    font-size: 32px;
  }
}
.text-r-7-4-7{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @include font(7);
  @include leading(7);
}
//500>medium
.text-r-1-5-1{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include font(1);
  @include leading(1);
  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}
.text-r-2-5-2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include font(2);
  @include leading(2);
}
.text-r-3-5-3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include font(3);
  @include leading(3);
}
.text-r-4-5-4{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include font(4);
  @include leading(4);
  @media screen and (max-width: 500px) {
    @include font(3);
    @include leading(3);
    }
}
.text-r-5-5-5{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include font(5);
  @include leading(5);
}
.text-r-6-5-6{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include font(6);
  @include leading(6);
  @media screen and (max-width: 500px) {
    @include font(5);
    @include leading(5);
    }
}
.text-r-7-5-7{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  @include font(7);
  @include leading(7);
}
//text shadow
.text-shadow-black{
  text-shadow: black 0.1em 0.1em 0.2em;
}
//Yeseva One
.text-y-1-4-1{
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  @include font(1);
  @include leading(1);
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}
.text-y-2-4-2{
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  @include font(2);
  @include leading(2);
}
.text-y-3-4-3{
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  @include font(3);
  @include leading(3);
}
.text-y-4-4-4{
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  @include font(4);
  @include leading(4);
  @media screen and (max-width: 500px) {
    @include font(2);
    @include leading(2);
  }
}
.text-y-5-4-5{
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  @include font(5);
  @include leading(5);
}
.text-y-6-4-6{
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  @include font(6);
  @include leading(6);
}
.text-y-7-4-7{
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  @include font(7);
  @include leading(7);
}
