//plugin
@import "../scss/plugin/boostrap";
@import "../scss/plugin/ace-responsive-menu";
//@import "../scss/plugin/bootstrap-treeview";
//NB Style
@import "../scss/nbStyle/nbColor";
@import "../scss/nbStyle/nbFonts";
@import "../scss/nbStyle/nbCard";
@import "../scss/nbStyle/nbBanner";
@import "../scss/Element/btn";
//plugin
//@import "./plugin/pureCookie";
//Element
@import "../scss/Element/header";
@import "../scss/Element/login";
@import "../scss/Element/carousel";
@import "../scss/Element/footer";
//@import "../scss/plugin/slick";
// @import "../scss/Element/header";
// @import "../scss/Element/searchBar";
// @import "../scss/Element/cards";
// @import "../scss/Element/banner";
// @import "../scss/Element/footer";
// @import "../scss/Element/breadcrumb";
@import "../scss/Element/btn";
// @import "../scss/Element/cart";
//error
//@import "../scss/error/error";
.nb-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  //padding: .75rem 1rem;
  padding: .75rem 0rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: $white;
}